<form [formGroup]="instructionForm">
    <label>Action</label>
    <input class="action" type="text"  formControlName="action">
    <span *ngIf="actionR" style="color: red;">Action required</span>
    

    <ng-select [items]="elements"
                       bindLabel="name"
                       placeholder="Select Elements"
                       bindValue="name"
                       appendTo="body"
                       formControlName='element'>
        </ng-select>
   
    </form>
    
    <mat-dialog-actions>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button (click)="save()">Save</button>
    </mat-dialog-actions>
