.row{
    background-color: #0b0c1063;
    position: relative;
    height: 100%;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    overflow:hidden;
}

.form-row{
    height: 70%;
    position: relative;
    top: 0%;
    overflow: auto;
   
}