<br>
<ng-container [formGroup]="callsForm">
    <mat-card class="form-container">
    <div>
      <mat-card-title class="title">Calls</mat-card-title>
    </div>
    <div>

     
      <mat-form-field>
        <mat-label>Reason</mat-label>
        <input matInput placeholder="" formControlName="reason" required />
        <mat-hint class="text-danger"  *ngIf="reasonF">Required</mat-hint>
      </mat-form-field>
     
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput placeholder="" formControlName="comment" required />
        <mat-hint class="text-danger"  *ngIf="commentF">Required</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hazard</mat-label>
        <input matInput placeholder="" formControlName="hazard" required />
        <mat-hint class="text-danger"  *ngIf="hazardF">Required</mat-hint>
      </mat-form-field>
      
      <select class='select-option' formControlName="consumerId" required
    #mySelect
    (change)='onOptionsSelected(mySelect.value)'>
   <option class='option' 
   *ngFor='let option of allIncidents' 
   [value]="option.name">{{option.name}}</option>
   <mat-hint class="text-danger"  *ngIf="consumerIdF">Required</mat-hint>
    </select>
  
    </div>
    
    <div>    
      <br>
      <br><div class="card">
        <div class="container">
          <h2>Consumer info</h2>
          <h4>name : {{consumer.name}}</h4> 
          <p>surname : {{consumer.surname}}</p> 
          <p>city : {{consumer.city}}</p> 
          <p>street : {{consumer.street}}</p> 

        </div>

       
      </div>  
      <br>
      <div class="button">
        <button (click)="save()" class="btn btn-primary button">Next</button>
    </div>
    
    </div>
    </mat-card>
  </ng-container>

  
  