<br>
<ng-container [formGroup]="callsForm">
    <mat-card class="form-container">
    <div>
      <mat-card-title class="title">Calls</mat-card-title>
    </div>
    <div>

     
      <mat-form-field>
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Voltage problems" formControlName="reason" />
      </mat-form-field>
     
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput placeholder="" formControlName="comment" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hazard</mat-label>
        <input matInput placeholder="" formControlName="hazard" />
      </mat-form-field>
    
    </div>
    <div>      
     
    <div class="button">
        <button (click)="save()" class="btn btn-primary button">Next</button>
    </div>
    </div>
    </mat-card>
  </ng-container>