

<form [formGroup]="basicInfoForm" clss="mojaForma">
    <div class="main-container">
    
    <div class="container">
        <div class="container__element">
        <label class="mojaLabela">Type:
        </label>
        <select class="mojaOpcija" name="types" id="types" formControlName="elementType">
            <option value="planiraniRad">Planirani rad</option>
            <option value="neplaniraniRad">Neplanirani rad</option>
            
          </select>
        </div>
        <div class="container__element">
        <label class="mojaLabela">Status:
            
        </label>
        <span class="mojaOpcija" class="span-bold">Draft</span>
        </div>

        <div class="container__element">
            <label class="mojaLabela">Switching plan:
            </label>
            <input class="mojaOpcija" type="text">
        </div>
            <!--<div class="container__element">
            <label>Safety doc type:
            </label>
            <input type="text" formControlName="safetyDocType">
        </div>-->

        <!--<div class="container__element">
            <label>Date/time created: 
            </label>
            <input type="text" formControlName="dateCreated">
        </div>-->
        <div class="container__element">
            <label class="mojaLabela">Created by:
            </label>
            <input class="mojaOpcija" type="text" [value]="userCreated"  formControlName="createdByUser" readonly >
        </div>

        <div class="container__element">
            <label class="mojaLabela">Phone No: 
            </label>
            <input class="mojaOpcija" type="text" formControlName="phoneNum">
        </div>
        <!--
        <div class="container__element">
            <label>Field Crew:
            </label>
            <label>kad uradi tacku field crew</label>
        </div>  
        -->

        <div class="container__element">
            <label class="mojaLabela">Details: 
            </label>
            <input  class="mojaOpcija" type="text" formControlName="details">
        </div>
        <div class="container__element">
            <label class="mojaLabela">Notes:
            </label>
            <input class="mojaOpcija" type="text" formControlName="notes">
        </div>  

        <br><br>
        <div class="container__element" class="btnDIV">
            <label></label>
            <button class="table--modifiers__btn" (click)="onSave()" type="button"> <!--type=button-->
                <mat-icon id="icon-absolute" class="icon">save</mat-icon>
            </button>
        </div>
    </div>

    </div>
</form>