.container {
    display: grid;
    gap: 0px;
    font-size: 10px;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    padding-top: 20px;
}

.container__element {
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
    /*font-size: 10px;*/
    background-color: #0b0c1023;
    width: 400px;
   
}
.span-bold {
    font-weight: bold;
     font-size: 12px;
     float: right;
     margin-right: 10%;
     color: #c5c6c9
}



.icon-absolute {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    
}

.main-container {
    display: grid;
    background-color: #66fcf234;
    margin-top: 0px;
    height: 250px;
}

.btnDIV{
    margin-left:45%;
    margin-top: -9%;
    justify-content: center;
}

.table--modifiers__btn{
    width:30px;
    height: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.mojaOpcija{
    float:right;
    width: 150px;
    height: 20px;
    font-size: 12px;
    margin-right: 20px;
}

.mojaLabela{
    font-size: 12px;
    margin-left: 10px;
    color: #c5c6c9;
}