.container {
    display: grid;
    gap: 15px;
}

.container__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vw;
    
}
.span-bold {
    font-weight: bold;
     
}


.icon-absolute {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-container {
    display: grid;
    
 
    
}