<h2>User Requests</h2>
<table class="table table-light">
    <thead class="thead-light">
      <tr>
          <th scope="col">Username</th>
          <th scope="col">Name and Lastname</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Address</th>
          <th scope="col">Type</th>


      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of allUsers | paginate: {itemsPerPage:2, currentPage: cp}" class="listMargin">

      <td>{{user.username}}</td>
      <td>{{user.nameAndLastname}}</td>
      <td>{{formatDate(user.birthDate)}}</td>
      <td>{{user.address}}</td>
      <td>{{user.userType}}</td>
        <td><button type="submit" (click)="activate(user.username, user.id)">Confirm</button></td>
    </tr>
  </tbody>
  </table>

  <pagination-controls (pageChange)="cp = $event"></pagination-controls>
  
  <br> <br>

  <div class="container">


    <router-outlet></router-outlet>
  <!--  <app-registration-ver></app-registration-ver> -->
  </div>
  <br>
  <br>

