<div class="page">
    <div>
      <table class="table table-light">
        <thead class="thead-light">
          <tr>
              <th scope="col">State</th>
              <th></th>
              <th scope="col">Date</th>
              <th></th>
              <th scope="col">ChangedBy</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of historyStates | paginate: {itemsPerPage:2, currentPage: cp}">
          <td>{{state.newStatus}}</td>
          <td></td>
          <td>{{state.dateChange}}</td>
          <td></td>
          <td>{{state.changeBy}}</td>
        </tr>
      </tbody>
      </table>
    
      <br> <br>
      <pagination-controls  (pageChange)="cp = $event"></pagination-controls>

    </div>
    
    <div>
    <ng-container [formGroup]="form">
        <mat-card class="form-container">
        <div>
          <mat-card-title class="title">History of state changes</mat-card-title>
        </div>
        <div>
      
          <!-- Type -->
          <mat-form-field>
            <mat-select placeholder="Select state" formControlName="newStatus">
                <mat-option value="Approve">Approve</mat-option>
                <mat-option value="Deny">Deny</mat-option>
                <mat-option value="Cancel">Cancel</mat-option>
            </mat-select>
          </mat-form-field>
        
        
        </div>
        
        <div class="button">
            <button (click)="back()" class="btn btn-primary button">Back</button>
            <button (click)="save()" class="btn btn-primary button">Next</button>
        </div>
        </mat-card>
      </ng-container>
    </div>
    </div>
    