.icon {
    background: url('../../assets/icons8-add-50.png');
   color : transparent;
    height : 53px;
    width: 53px;
   
    border-radius: 40px;
    position: relative;
}

.icon2 {
    background: url('../../assets/rem2.png');
   
    color : transparent;
    height : 30px;
    width:  30px;
   
   
    position: relative;
}

html body {
    overflow: visible;
    padding-bottom: 20%;
    }

    .diver {
        overflow: auto;
    }
.container{

    overflow : visible;

}


.register-form{
    height: 100%;
    position: relative;
    top: 0%;
    overflow: auto;
   
   
}
