
<div class="loginDiv">
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
    <form class="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <table id="loginTable">
            <tr>
                <td id="logLabel">
                    Fill out the following form to log in
                </td>
            </tr>
            <tr>
                <td>        
                </td>
            </tr>
            <tr id="usInput">
                
                <td> <input type="text" placeholder="Username" id="username-input" name="username" ngModel class="form-control" required autofocus></td>
            </tr>
            
            <tr id="passInput">
               <td><input type="password" placeholder="Password" id="password-input" name="password" ngModel class="form-control"required></td> 
            </tr>
            <tr>
                <td>
                    <input id="submitBtn" type="submit" value="Log in">
                </td>
            </tr>
        </table>
       
    </form>
</div>
