
<div class="loginDiv">
    <form class="login-form">
        <table id="loginTable">
            <tr>
                <td id="logLabel">
                    Fill out the following form to log in
                </td>
            </tr>
            <tr id="usInput">
                <td> <input type="text" placeholder="Username" id="username-input" ></td>
            </tr>
            
            <tr id="passInput">
               <td><input type="password" placeholder="Password" id="password-input"></td> 
            </tr>
            <tr>
                <td>
                    <input id="submitBtn" type="submit" value="Log in">
                </td>
            </tr>
        </table>
       
    </form>
</div>

