
.loginDiv{
    background-color: #0b0c1063;
    position: relative;
    height: 100%;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    overflow:hidden;
}

.login-form{
    height: 70%;
    position: relative;
    top: 10%;
    overflow: auto;
 
}

#loginTable
{
    
    position: relative;
    width:85%;
    height: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0b0c10;
    text-align: center;
    margin-left: 7.5%;
    margin-top: 10%;
}

#username-input
{
    font-size: 1.9vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c5c6c7;
    border-width:3px;
    border-style:double;
    border-color: #66fcf1;
     border-radius: 4ex;
     background-color: transparent;
    
}
#password-input{
    font-size: 1.9vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c5c6c7;
    border-width:3px;
    border-style:double;
    border-radius: 4ex;
    border-color: #66fcf1;
   background-color: transparent;
   
}
#logLabel{
    color: #c5c6c7;
    font-size: 1.3vw;
    float: left;
    padding-left: 5%;
}

#submitBtn{
    background-color: #45a29e;
    color: rgb(238, 238, 238);
    height: 3vw;
    width: 17vw;
    margin-top: 2%;
    font-size: 1.5vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c5c6c7;
    opacity: 1; /* Firefox */
    padding-left: 2%;
    font-size: 1.5vw;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c5c6c7;
    padding-left: 2%;
    font-size: 1.5vw;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c5c6c7;
    padding-left: 2%;
    font-size: 1.5vw;
  }
