
<br><br><br>
<button mat-stroked-button color="white" (click)="new()">New</button>

<div class="container">
  
    <table class="table table-dark">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Start Date</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Address</th>
          </tr>
        </thead>
      <!--<tbody>
        <tr *ngFor="let workRequest of workRequests | slice: (page-1) * pageSize : page * pageSize">
          <td>{{workRequest.id.toString()}}</td>
          <td>{{formatDate(workRequest.startDate)}}</td>
          <td>{{workRequest.type}}</td>
          <td>{{workRequest.status}}</td>
          <td>{{workRequest.street}}</td>
        </tr>
      </tbody>
    -->
    <tbody>
      <tr *ngFor="let workRequest of workRequests | paginate: {itemsPerPage:3, currentPage: cp}" class="listMargin">
        <td>{{workRequest.id.toString()}}</td>
        <td>{{formatDate(workRequest.startDate)}}</td>
        <td>{{workRequest.type}}</td>
        <td>{{workRequest.status}}</td>
        <td>{{workRequest.street}}</td>
      </tr>
    </tbody>
    </table>
    <pagination-controls (pageChange)="cp = $event"></pagination-controls>
  </div>
      <br> <br>
    
    
  

    