.table{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.buttons{
    display: flex;
    justify-content: center;
}

#elementTabela{
    margin-top: 10%;
    margin-left: 10%;
    background-color: #00000067;
    color: rgb(255, 255, 255);
}

#newCon{
    background-color: #c5c6c7;
}

#PrviRed{
    background-color: #66fcf23b;
    color: #c5c6c7;
}

.listMargin{
 
    margin : 5px;
}