
<br><br>
<br>

<button (click)="new()">New</button>

<div class="container">
  
      <table class="table table-dark">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Start Date</th>
              <th scope="col">Phone</th>
              <th scope="col">Status</th>
              <th scope="col">Address</th>
          </tr>
      </thead>
     <!-- <tbody>
        <tr *ngFor="let switchingPlan of switchingPlans | slice: (page-1) * pageSize : page * pageSize">
          <td>{{switchingPlan.id.toString()}}</td>
          <td>{{formatDate(switchingPlan.startDate)}}</td>
          <td>{{switchingPlan.phone}}</td>
          <td>{{switchingPlan.status}}</td>
          <td>{{switchingPlan.street}}</td>
          <td><button [(ngModel)]="switchingPlan.id" ngDefaultControl class (click)="openDocument(switchingPlan.id)">Open</button></td>
        </tr>
      </tbody>-->

      <tbody>
        <tr *ngFor="let switchingPlan of switchingPlans | paginate: {itemsPerPage:3, currentPage: cp}" class="listMargin">
          <td>{{switchingPlan.id.toString()}}</td>
          <td>{{formatDate(switchingPlan.startDate)}}</td>
          <td>{{switchingPlan.phone}}</td>
          <td>{{switchingPlan.status}}</td>
          <td>{{switchingPlan.street}}</td>
          <td><button [(ngModel)]="switchingPlan.id" ngDefaultControl class (click)="openDocument(switchingPlan.id)">Open</button></td>
        </tr>
      </tbody>
      </table>
      <pagination-controls (pageChange)="cp = $event"></pagination-controls>
      <!--<div class="container__pagination">
        <ngb-pagination 
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="switchingPlans.length"></ngb-pagination>
      </div>-->
    </div>
    <br> <br>
    
  
