
<br><br>
<br>

<button (click)="new()">New</button>

<div class="container">
      <nav class ="navbar">
        <input class="form-control" type="text" name="phone" [(ngModel)]="phone" (ngModelChange)="Search()" placeholder="Enter element name to search">
      </nav>

      <div>
       
        <button class="table--modifiers__btn" id="filter-icon">
          <mat-icon id="icon-absolute" class="icon">filter_alt</mat-icon> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        </button>
  
        <select class="table--modifiers__select" [(ngModel)]="status">
          <option value=""></option>
          <option value="Approve">Approve</option>
          <option value="Deny">Deny</option>
          <option value="Draft">Draft</option>
        </select>
      </div>

      <table class="table table-dark" >
        <thead class="thead-dark">
          <tr>
              
                <th (click) = "sort('switchingPlan.id')" >Id&nbsp;<i class="fa fa-sort"></i></th>
                <th (click) = "sort('startDate')" >Start date&nbsp;<i class="fa fa-sort"></i></th>             
                <th (click) = "sort('phone')" >Phone&nbsp;<i class="fa fa-sort"></i></th> 
                <th (click) = "sort('status')" >Status&nbsp;<i class="fa fa-sort"></i></th> 
                <th (click) = "sort('street')" >Street&nbsp;<i class="fa fa-sort"></i></th> 
                
          </tr>
      </thead>
     <!-- <tbody>
        <tr *ngFor="let switchingPlan of switchingPlans | slice: (page-1) * pageSize : page * pageSize">
          <td>{{switchingPlan.id.toString()}}</td>
          <td>{{formatDate(switchingPlan.startDate)}}</td>
          <td>{{switchingPlan.phone}}</td>
          <td>{{switchingPlan.status}}</td>
          <td>{{switchingPlan.street}}</td>
          <td><button [(ngModel)]="switchingPlan.id" ngDefaultControl class (click)="openDocument(switchingPlan.id)">Open</button></td>
        </tr>
      </tbody>-->

      <tbody>
        <tr *ngFor="let switchingPlan of switchingPlans | orderBy : key : reverse | tableFilter: status| paginate: {itemsPerPage:3, currentPage: cp}" class="listMargin">
          <td>{{switchingPlan.id.toString()}}</td>
          <td>{{formatDate(switchingPlan.startDate)}}</td>
          <td>{{switchingPlan.phone}}</td>
          <td>{{switchingPlan.status}}</td>
          <td>{{switchingPlan.street}}</td>
          <td><button [(ngModel)]="switchingPlan.id" ngDefaultControl class (click)="openDocument(switchingPlan.id)">Open</button></td>
        </tr>

      </tbody>
      </table>
      <pagination-controls (pageChange)="cp = $event"></pagination-controls>
      <!--<div class="container__pagination">
        <ngb-pagination 
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="switchingPlans.length"></ngb-pagination>
      </div>-->
    </div>
    <br> <br>
    
  
