<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="container-class">
     
     
     
      <div class="animation-area1">
        
        <div class="div1">
          <div class="div1_1">
            <img class="slika11" src="assets/finalno/cut_images_71INr81E4w/image_part_001.png"/>
          </div>
          <div class="div1_2">
            <img class="slika12" src="assets/finalno/cut_images_71INr81E4w/image_part_005.png"/>
          </div>
          <div class="div1_3">
            <img class="slika13" src="assets/finalno/cut_images_71INr81E4w/image_part_009.png"/>
          </div>
          <div class="div1_4">
            <img class="slika14" src="assets/finalno/cut_images_71INr81E4w/image_part_013.png"/>
          </div>
          <div class="div1_5">
            <img class="slika15" src="assets/finalno/cut_images_71INr81E4w/image_part_017.png"/>
          </div>
          <div class="div1_6">
            <img class="slika16" src="assets/finalno/cut_images_71INr81E4w/image_part_021.png"/>
          </div>
          <div class="div1_7">
            <img class="slika17" src="assets/finalno/cut_images_71INr81E4w/image_part_025.png"/>
          </div>
          <div class="div1_8">
            <img class="slika18" src="assets/finalno/cut_images_71INr81E4w/image_part_029.png"/>
          </div>
          <div class="div1_9">
            <img class="slika19" src="assets/finalno/cut_images_71INr81E4w/image_part_033.png"/>
          </div>
          <div class="div1_10">
            <img class="slika110" src="assets/finalno/cut_images_71INr81E4w/image_part_037.png"/>
          </div>
        </div>

        <div class="div7">
          <div class="div1_1">
            <img class="slika71" src="assets/finalno/cut_images_71INr81E4w/image_part_002.png"/>
          </div>
          <div class="div1_2">
            <img class="slika72" src="assets/finalno/cut_images_71INr81E4w/image_part_006.png"/>
          </div>
          <div class="div1_3">
            <img class="slika73" src="assets/finalno/cut_images_71INr81E4w/image_part_010.png"/>
          </div>
          <div class="div1_4">
            <img class="slika74" src="assets/finalno/cut_images_71INr81E4w/image_part_014.png"/>
          </div>
          <div class="div1_5">
            <img class="slika75" src="assets/finalno/cut_images_71INr81E4w/image_part_018.png"/>
          </div>
          <div class="div1_6">
            <img class="slika76" src="assets/finalno/cut_images_71INr81E4w/image_part_022.png"/>
          </div>
          <div class="div1_7">
            <img class="slika77" src="assets/finalno/cut_images_71INr81E4w/image_part_026.png"/>
          </div>
          <div class="div1_8">
            <img class="slika78" src="assets/finalno/cut_images_71INr81E4w/image_part_030.png"/>
          </div>
          <div class="div1_9">
            <img class="slika79" src="assets/finalno/cut_images_71INr81E4w/image_part_034.png"/>
          </div>
          <div class="div1_10">
            <img class="slika710" src="assets/finalno/cut_images_71INr81E4w/image_part_038.png"/>
          </div>
        </div>
       
        <div class="div8">
          <div class="div1_1">
            <img class="slika81" src="assets/finalno/cut_images_71INr81E4w/image_part_003.png"/>
          </div>
          <div class="div1_2">
            <img class="slika82" src="assets/finalno/cut_images_71INr81E4w/image_part_007.png"/>
          </div>
          <div class="div1_3">
            <img class="slika83" src="assets/finalno/cut_images_71INr81E4w/image_part_011.png"/>
          </div>
          <div class="div1_4">
            <img class="slika84" src="assets/finalno/cut_images_71INr81E4w/image_part_015.png"/>
          </div>
          <div class="div1_5">
            <img class="slika85" src="assets/finalno/cut_images_71INr81E4w/image_part_019.png"/>
          </div>
          <div class="div1_6">
            <img class="slika86" src="assets/finalno/cut_images_71INr81E4w/image_part_023.png"/>
          </div>
          <div class="div1_7">
            <img class="slika87" src="assets/finalno/cut_images_71INr81E4w/image_part_027.png"/>
          </div>
          <div class="div1_8">
            <img class="slika88" src="assets/finalno/cut_images_71INr81E4w/image_part_031.png"/>
          </div>
          <div class="div1_9">
            <img class="slika89" src="assets/finalno/cut_images_71INr81E4w/image_part_035.png"/>
          </div>
          <div class="div1_10">
            <img class="slika810" src="assets/finalno/cut_images_71INr81E4w/image_part_039.png"/>
          </div>
        </div>
      

        <div class="div9">
          <div class="div1_1">
            <img class="slika91" src="assets/finalno/cut_images_71INr81E4w/image_part_004.png"/>
          </div>
          <div class="div1_2">
            <img class="slika92" src="assets/finalno/cut_images_71INr81E4w/image_part_005.png"/>
          </div>
          <div class="div1_3">
            <img class="slika93" src="assets/finalno/cut_images_71INr81E4w/image_part_012.png"/>
          </div>
          <div class="div1_4">
            <img class="slika94" src="assets/finalno/cut_images_71INr81E4w/image_part_016.png"/>
          </div>
          <div class="div1_5">
            <img class="slika95" src="assets/finalno/cut_images_71INr81E4w/image_part_020.png"/>
          </div>
          <div class="div1_6">
            <img class="slika96" src="assets/finalno/cut_images_71INr81E4w/image_part_024.png"/>
          </div>
          <div class="div1_7">
            <img class="slika97" src="assets/finalno/cut_images_71INr81E4w/image_part_028.png"/>
          </div>
          <div class="div1_8">
            <img class="slika98" src="assets/finalno/cut_images_71INr81E4w/image_part_032.png"/>
          </div>
          <div class="div1_9">
            <img class="slika99" src="assets/finalno/cut_images_71INr81E4w/image_part_036.png"/>
          </div>
          <div class="div1_10">
            <img class="slika910" src="assets/finalno/cut_images_71INr81E4w/image_part_040.png"/>
          </div>
        </div>
      </div>

    

      <div class="naslov-area">
        <p class="naslov">Electricity<br> For<br> The<br> Future</p>
      </div>

   
      <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="https://www.google.com/">Register</a>
        <a href="#contact">Log in</a>
        <a href="#about">About</a>
       
      </div>
    
  
    
      <div class="report-area">
        <div class="report-tekst">
          <p class="tekst"><br>If your electric power is interrupted, report outage to us right away</p>
        </div>
        <div class="report-button">
          
          <button class="report-btn" type="button">
            <div class="button-image">
              <img class="phone-class" src="assets/phone.png"/>
            </div>
            <div class="button-text-div">
                <p class="report-outage">
                  Report outage
                </p>
            </div>
          </button>
          
        </div>
      
      </div>
     
      
      <footer class="footer-area">
        <p class="footer-text">CONTACT US:<br>sladjanavasiljevic4@gmail.com<br>djole@gmail.com<br>aleksa@gmail.com</p>
      </footer> 
      

    </div>

  </body>
</html>