<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="container-class">
     
     
     
      <div class="animation-area1">
        
        <div class="div1">
          <div class="div11">
            <img class="slika1" src="assets/cut_images_FjnrnNxHnsu/image_part_001.png"/>
          </div>
          <div class="div12">
            <img class="slika3" src="assets/cut_images_FjnrnNxHnsu/image_part_003.png"/>
          </div>
          <div class="div13">
            <img class="slika5" src="assets/cut_images_FjnrnNxHnsu/image_part_005.png"/>
          </div>
          <div class="div14">
            <img class="slika7" src="assets/cut_images_FjnrnNxHnsu/image_part_007.png"/>
          </div>
          <div class="div15">
            <img class="slika9" src="assets/cut_images_FjnrnNxHnsu/image_part_009.png"/>
          </div>
        </div>

        <div class="div7">
          <div class="div71">
            <img class="slika2" src="assets/cut_images_FjnrnNxHnsu/image_part_002.png"/>
          </div>
          <div class="div72">
            <img class="slika4" src="assets/cut_images_FjnrnNxHnsu/image_part_004.png"/>
          </div>
          <div class="div73">
            <img class="slika6" src="assets/cut_images_FjnrnNxHnsu/image_part_006.png"/>
          </div>
          <div class="div74">
            <img class="slika8" src="assets/cut_images_FjnrnNxHnsu/image_part_008.png"/>
          </div>
          <div class="div75">
            <img class="slika10" src="assets/cut_images_FjnrnNxHnsu/image_part_010.png"/>
          </div>
        </div>
       
      
      </div>

    

      <div class="naslov-area">
        <p class="naslov">Electricity<br> For<br> The<br> Future</p>
      </div>

      <div class="navbar-area">
        <nav class="navbar-class">
          Home
        </nav>
       </div>
     
      <div class="report-area">
        <p class="tekst"><br>If your electric power is interrupted, report outage to us right away</p>
        <button class="report-btn" type="button">
          <img class="phone-class" src="assets/phone.png"/>
          </button>
      </div>
     
      
      <footer class="footer-area">
        <p class="footer-text">CONTACT US:<br>sladjanavasiljevic4@gmail.com<br>djole@gmail.com<br>aleksa@gmail.com</p>
      </footer> 
      

    </div>

  </body>
</html>