<div class="header-line">
  <ul>
    <li class="home">Home</li>
    <li class="register">Register</li>
    <li class="login">Log in</li>
  </ul>
</div>



<div class="animation-area">
  <!--
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area4">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area5">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area6">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area1">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area2">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  <div class="image-area3">
    <img class="classImageCity" src="assets/line.png"/>
  </div>
  -->

  <div class="container1"></div> 
  <div class="container2"></div> 
  <div class="container3"></div>
  <div class="container4"></div>
  <div class="container5"></div>
  <div class="container6"></div>
  <div class="container7"></div>
  <div class="container8"></div>
  <div class="container9"></div>

  <div class="container10"></div>
  <div class="container11"></div>
  <div class="container12"></div>
  <div class="container13"></div>

  <div class="container14"></div>
  <div class="container15"></div>
  <div class="container16"></div>
  <div class="container17"></div>

  <div class="container18"></div>
  <div class="container19"></div>
  <div class="container20"></div>
  <div class="container21"></div>
  
  <div class="container-naslov">
    <p class="naslov-paragraph">Electricity <br>For <br>The <br>Future</p>
    <br><br>
    <button class="report-btn" type="button">
      <img class="phone-class" src="assets/phone.png"/>
      <div class="report-div">Report outage</div>
    </button>
  </div>
    
  
</div>




