
 <br><br>
<div id="mojDiv" *ngIf="displaySafetyDocumentContent">
  <a  routerLink="/safety-documents/new/basic-info">
      <button class="table--modifiers__btn">
          <mat-icon id="icon-absolute" class="icon">add_circle</mat-icon> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;New
      </button>
  </a>

  <div class="container">
    
    <br>
  
      <table class="table table-light">
        <thead class="thead-light">
          <tr id="PrviRed">
              <th scope="col">Id</th>
              <th scope="col">Start date</th>
              <th scope="col">Phone No.</th>
              <th scope="col">Status</th>
              
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of allSafetyDocuments | paginate: {itemsPerPage:3, currentPage: cp}" class="listMargin">
          <td>{{document.safetyDocumentId?.toString()}}</td>
          <td>{{document.dateCreated}}</td>
          <td>{{document.phoneNum}}</td>
          <td>{{document.status}}</td>
          
    
        </tr> 
      </tbody>
      </table>
      <pagination-controls (pageChange)="cp = $event"></pagination-controls>

    
   
  
    </div>
    
    <br> <br>

</div>


<router-outlet></router-outlet>