
<div class="dash-class">  
    <div class="mojLink" onclick="location.href='/switching-plans';" class="switchingPlans" onmouseover="" style="cursor: pointer;" >
        <a  href="/switching-plans">Switching plans<mat-icon class="developer_board">article</mat-icon></a>
    </div>
    <div onclick="location.href='/safety-documents';" class="safety-documents"  onmouseover="" style="cursor: pointer;" >
        <a class="linkic" href="/safety-documents">Safety documents<mat-icon class="developer_board">article</mat-icon></a>
    </div>
    <div onclick="location.href='/work-requests';" class="work-requests"  onmouseover="" style="cursor: pointer;" >
        <a class="linkic" href="/work-requests">Work requests<mat-icon class="developer_board">article</mat-icon></a>
    </div>
    <div onclick="location.href='/incidents';" class="incidents"  onmouseover="" style="cursor: pointer;" >
        <a class="linkic" href="/incidents">Incidents<mat-icon class="developer_board">article</mat-icon></a>
    </div>

   
</div>
