
.title{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.password-change{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: flex-start;
}

.settings{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

.streets, .notifications{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: flex-start;
}
