
<br><br>
<ng-container [formGroup]="spForm">


    <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
     
        <li [ngbNavItem]="1">
          <a ngbNavLink class="inactiveLink" routerLink=""> Basic information</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="inactiveLink" routerLink=""> History of state changes</a>
        </li>
        <li ngbNavItem [ngbNavItem]="3">
          <a ngbNavLink class="inactiveLink" routerLink=""> Multimedia attachments</a>
        </li>
        <li ngbNavItem [ngbNavItem]="4">
          <a ngbNavLink class="inactiveLink" routerLink=""> Equipment</a>
        </li>
        
      </ul>
      
      <div [ngbNavOutlet]="nav"></div>
      <router-outlet></router-outlet>
    </ng-container>
    
    <!--<pre style="margin-top:50px; border: 1px solid red; width: fit-content; color: white;">
      {{spForm.value | json}}
    </pre>-->
    