.form-container{
    height: 70%;
    justify-content: center;
    display: grid;
    grid-template-rows: 5% 20% 20% 20% 20% 10%;
    /*background-color: darkgreen;
    */
    width: 100%;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0);
}

.drugiDiv{
    /*background-color: darkmagenta;*/
    
}
.button{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left: 2%;
}

.nmp{
    background-color: darkgrey;
    width: 60px;
    height: 60px;
}

.mat-form-field{
    margin: 1%;
}
.history-table {
    margin-top: 40px;
   /* background-color: coral;*/
    margin-top: 10px;
    margin-left: 80px;
}
.page{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80%;
    /*background-color: blueviolet;*/
}
mat-card {
    margin-top: 30px;
    background-color:  #303030;
    box-shadow: none;
}
mat-form-field{
    margin-top: 10%;
    margin-left: 50%;
}

.table--modifiers{
    margin-top: 10%;
    margin-left: 30%;
}

#tabelica{
    background-color: #0b0c104f;
    color: lightgray;
    width: 700px;
}

.title{
    color:lightgray;
    font-size: 12px;
}

placeholder{
    color:red;
}