<div class="page">
    <div class="history-table">
      <table id="tabelica" >
        <thead class="thead">
          <tr>
              <th scope="col">State</th>
              <th></th>
              <th scope="col">Date</th>
              <th></th>
              <th scope="col">ChangedBy</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of historyStates | slice: (page-1) * pageSize : page * pageSize">
          <td>{{state.newStatus}}</td>
          <td></td>
          <td>{{state.dateChange}}</td>
          <td></td>
          <td>{{state.changeBy}}</td>
        </tr>
      </tbody>
      </table>
    
      <br> <br>
    
    
    <div class="drugiDiv" id="drugi">
    <ng-container [formGroup]="form" class="noviDiv">
        <mat-card class="form-container mat-elevation-z0">
        <div>
          <mat-card-title class="title"></mat-card-title>
        </div>
        <div>
      
          <!-- Type -->
          <div *ngIf="displayStateChange">
          <mat-form-field class="nmp">
            <mat-select placeholder="Select state" formControlName="newStatus">
                <mat-option value="Issue">Issue</mat-option>
                
                <mat-option value="Cancel">Cancel</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        
        </div>
        
        <div class="table--modifiers" (click)="onSave()">
            <button class="table--modifiers__btn">
                <mat-icon id="icon-absolute" class="icon">save</mat-icon>
            </button>
        </div>
        </mat-card>
      </ng-container>
    </div>
    </div>


    


