.container__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
}

.table--modifiers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table--modifiers__btn{
    background-color: #c5c6c7;
}

button {
   position: relative;
   text-align: center;
    height: 30px;
}
select {
    height: 30px;
}

mat-icon {
    position: absolute;
}
#filter-icon {
    cursor: default;
}

.listMargin{
 
    margin : 5px;
}
 #elementTabela{
     background-color: #00000067;
     color: rgb(255, 255, 255);
 }

 #PrviRed{
     background-color: #66fcf23b;
     color: #c5c6c7;
 }

 #boja{
     background-color: #66fcf23b;
     width: 300px;
 }

/* PAGINATOR STYLING */
/*ngb-pagination ::ng-deep a {
    color: white !important;
    background-color: black;
  }
  
ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: black;
    background-color: lightgrey;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    
}*/