<p>elements-page works!</p>


<div class="container">
    <div class="table--modifiers">
      <button class="table--modifiers__btn">
        <mat-icon id="icon-absolute" class="icon" (click)="openDialog()">add_circle</mat-icon> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;New
      </button>
    
      <div>
       
        <button class="table--modifiers__btn" id="filter-icon">
          <mat-icon id="icon-absolute" class="icon">filter_alt</mat-icon> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        </button>
  
        <select class="table--modifiers__select" [(ngModel)]="type">
          <option value=""></option>
          <option value="prekidac">Prekidac</option>
          <option value="osigurac">Osigurac</option>
          <option value="transformator">Transformator</option>
          <option value="diskonektor">Diskonektor</option>
        </select>
      </div>
  
    </div>
    
    <br>
  
      <table id="elementTabela" class="table ">
        <thead >
          <tr id="PrviRed">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Coordinates</th>
              <th scope="col">Address</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let element of allElements | tableFilter: type| paginate: {itemsPerPage:2, currentPage: cp}" class="listMargin">

          <td>{{element.id.toString()}}</td>
          <td>{{element.name}}</td>
          <td>{{element.type}}</td>
          <td>{{element.coordinates}}</td>
          <td>{{element.address}}</td>
    
        </tr>
      </tbody>
      </table>
  
      <div id="boja">
        <pagination-controls  (pageChange)="cp = $event"></pagination-controls>

      </div>
      <br> <br>
      <input class="form-control" type="text" name="firstName" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter element name to search">
    </div>
    
  