.gridara{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    
}

.not-options{
    
    width: 50%;
    margin-left: 10%;
    margin-top: 40%;
}


.buttons{
    display: grid;
    width: 50%;
    margin-left: -10%;
    margin-top: -20%;
}
.button1{
    margin-left: 10px;
    margin-top: 10px;
}

.not-content{
    display: grid;
    /*margin-top: 3.33%;*/
    width: 400px;
    height: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: #0b0c1060;
}

.notification{
    display: flex;
    width: fit-content;
    min-width: 40%;
    height: 50%;
    color: black;
    justify-content: space-between;
    width: 100%;

}

.paginator{
    display: flex;
    justify-content: center;
    color: black;
}


.notButton{
    height: 2.5em;
}

.sve{
    display: grid;
    width: 60%;
}


#submitBtn{
    background-color: #c5c6c7;
    color: rgb(13, 17, 32);
    height: 4vw;
    width: 10vw;
    margin-top: 2%;
    font-size: 1.0vw;

}

#uip{
    font-family: Arial, Helvetica, sans-serif;
     font-size: 0.9vw;
     font-weight: bold;
     margin-left: 16px;
     text-align: center;    
     color: black;
     
    
}
.listMargin{
 
    margin : 5px;
    
}