.gridara{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    
}

.not-options{
    display: grid;
    margin: 10%;
    width: 50%;

}

.not-content{
    display: grid;
    margin-top: 3.33%;
    width: 100%;
    
}

.notification{
    display: flex;
    width: fit-content;
    min-width: 40%;
    height: 50%;
    color: black;
    justify-content: space-between;
    width: 100%;

}

.paginator{
    display: flex;
    justify-content: center;
    color: black;
}


.notButton{
    height: 2.5em;
}

.sve{
    display: grid;
    width: 60%;
}


#submitBtn{
    background-color: #45a29e;
    color: rgb(238, 238, 238);
    height: 4vw;
    width: 10vw;
    margin-top: 2%;
    font-size: 1.0vw;

}

#uip{
    font-family: Arial, Helvetica, sans-serif;
     font-size: 0.9vw;
     font-weight: bold;
     margin-left: 16px;
     text-align: center;    
     color: black;
     
    
}