<div class="gridara">
  <div class="not-options" ngDefaultControl [(ngModel)]="option">
      <button (click)="btnClick('All')" class="button" id = "submitBtn">All Notifications</button>
      <button (click)="btnClick('Unread')" class="button" id = "submitBtn">Unread Notifications</button>
      <button (click)="btnClick('Error')" class="button" id = "submitBtn">Errors</button>
      <button (click)="btnClick('Info')" class="button" id = "submitBtn">Info</button>
      <button (click)="btnClick('Success')" class="button" id = "submitBtn">Success</button>
      <button (click)="btnClick('Warning')" class="button" id = "submitBtn">Warnings</button>
  
  </div>
  <div class="sve">
  <div class="not-content">
  <div *ngFor="let notification of showNotifications | slice: (page-1) * pageSize : page * pageSize" ngDefaultControl>
      <div [ngStyle]="getBackgroundColor(notification.type)" [(ngModel)]="notification.id" (click)="finish(notification.id)" ngDefaultControl class  class="notification"><div class="text" id = "uip">{{notification.text}}</div> <div class="date" id = "uip">{{notification.timeStamp}}</div></div>
  </div>
  <div class="paginator">
      <ngb-pagination 
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="notifications.length">
      </ngb-pagination>
    </div>
      <div class="buttons">
        <button (click)="markAllAsRead()"  class="notButton" id = "submitBtn">Mark All As Read</button>
        <br>
        <button (click)="clearAll()"  class="notButton" id = "submitBtn">Clear All</button>
      
    </div>
  </div>
  </div>
  </div>
  