
<div class="registerDiv">
    <form class="register-form">
        <table id="registerTable">
            
            <tr id="usernameInput">
                <td> <input type="text" placeholder="Username" id="username-input" ></td>
            </tr>
            
            <tr id="passwordInput">
               <td><input type="password" placeholder="Password" id="password-input"></td> 
            </tr>

            <tr id="emailInput">
                <td><input type="email" placeholder="Email" id="email-input"></td> 
             </tr>

             <tr id="nameInput">
                <td><input type="name" placeholder="Name" id="name-input"></td> 
             </tr>
             <tr id="addressInput">
                <td><input type="address" placeholder="Adress" id="address-input"></td> 
             </tr>
        </table>
       
    </form>
</div>
