<div class="boja"><p style="color:lightgray"></p>

<!--<pagination-controls  (pageChange)="cp = $event"></pagination-controls>-->

<pagination-controls  (pageChange)="cpp = $event"></pagination-controls>
<p style="color:lightgray">Chose from:</p>
<table class="table table-light">
    <thead class="thead-light">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Coordinates</th>
          <th scope="col">Address</th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of allElements | paginate: {itemsPerPage:2, currentPage: cpp}">
      <td>{{element.id.toString()}}</td>
      <td>{{element.name}}</td>
      <td>{{element.type}}</td>
      <td>{{element.coordinates}}</td>
      <td>{{element.address}}</td>
      <td><button id="{{element.id.toString()}}" (click)="onSelect(this.element.id.toString())">Select</button></td>

    </tr>
  </tbody>
  </table>


<button class="table--modifiers__btn" (click)="onSave()" type="button"> <!--type=button-->
    <mat-icon id="icon-absolute" class="icon">save</mat-icon>
</button>
</div>